<div class="chores">
    <h1>Assign Chores</h1>
    <div class="chore-form">
        <label>Chore</label>
        <input type="text" placeholder="e.g., Vaccum Living Room"> 

        <label>Roommate</label>
        <select id="roommate">
            <option>Roommmate #1</option>
            <option>Roommmate #2</option>
            <option>Roommmate #3</option>
            <option>Roommmate #4</option>
        </select>

        <label>Day of the Week</label>
        <input type="date" id="date" name="date">

        <label>Priority</label>
        <select id="priority-class">
            <option>Low</option>
            <option>Medium</option>
            <option>High</option>
        </select>

        <div class="buttons">
            <button (click)="submitChore()">Submit</button>
            <button>Cancel</button>
        </div>
    </div>
</div>