.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    text-align: center;
    padding-bottom: 20px
}
/* Temp styles */
.event-container{
    border: 1px solid black;
    text-align: center;
}