.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    text-align: center;
    padding-bottom: 20px
}
.event-container{
    margin-top: 20px;
    background: #e6fff9;
    padding: 10px;
    border-left: 5px solid #4bdab9;
    border-radius: 8px;
    text-align: center;
}

.dashboard-content{
    flex-grow: 1;
    background-color: #f0f9f5;
    padding: 20px;
    overflow-y: auto;
}

header{
    text-align: center;
}

h2{
    padding-top: 20px;
    text-align: center;
}