<div class="user-profile">
    <img [src]="user.profilePic" alt="Profile Picture">
    <h2>{{ user.name }}</h2>
    <button (click)="editProfile()">Edit Profile</button>
</div>

<div class="stuff-box">
    <section class="user-details">
        <p><strong>Email:</strong> {{ user.email }}</p>
        <p><strong>Likes:</strong> {{ user.likes }}</p>
        <p><strong>Dislikes:</strong> {{ user.dislikes }}</p>
        <p><strong>Bio:</strong> {{ user.bio }}</p>
        <div class="filters">
            <p>#Pet-Friendly #Tidy #Quiet</p>
        </div>
    </section>

    <section class="roommates">
        
    </section>
</div>