.user-profile{
    padding-top: 30px;
    /* border: 1px solid black; */
    text-align: center;
    background-color: #f4fdfb;
    border-radius: 10px;
    margin: 20px auto;
    /* max-width: 400px; */
}

.user-profile img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    border:4px solid #1f5e49;
    margin-bottom: 15px;
}

.user-profile h2{
    font-weight: bold;
    margin: 10px auto;
    color: #1f5e49;
}

.stuff-box{
    max-width: 700px;
    margin: 20px auto;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px 30px;
}

.user-details{
    /* border: 1px solid black; */
    font-size: 1rem;
    margin: 10px 0;
    text-align: center;
}

.roommates{
    /* border: 1px solid black; */
    text-align: center;
    margin-top: 30px;
}

.user-profile button{
    padding: 10px 20px;
    margin: 10px;
    border-radius: 8px;
    background: #3f9075;
    border: none;
    color: #ffffff;
    font-weight: bold;
}

.user-profile button:hover{
    background-color: #2e6f5b;
}

.filters{
    margin-top: 15px;
    font-style: italic;
    color: #5191ff;
    font-weight: bold;
}

.roommie-cards{
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.roommie-card{
    background-color: #f0f8f5;
    border: 2px solid #3f9075;
    border-radius: 10px;
    padding: 15px;
    width: 250px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.roommie-card img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

.roommie-card h4{
    margin: 10px 0 5px;
    color: #1f5e49;
}

.roommie-card .mini-bio{
    font-style: italic;
    font-size: 0.9em;
    color: #444;
    margin-top: 10px;
}