<div class="bills-container">
    <h2>Bill Splitter</h2>
    <label> Bill Name:
        <input type="text" id="nameOfBill">
    </label>

    <label> Total:
        <input type="number" id="totalOfBill">
    </label>

    <div id="roommatesContainer"></div>

    <div class="two-buttons">
        <button>Split Evenly</button>
        <button>Manual Split</button> <!-- Go into this more -->
    </div>

    <button>Add Roommate</button>

    <button>Submit Bill</button>
    <div id="resultContainer"></div>
</div>